llama-index-vector-stores-qdrant==0.2.11
llama-index-embeddings-cohere==0.1.9
llama-index-llms-cohere==0.2.0
supabase==2.5.1
cohere==5.5.8
openai==1.35.10
opencv-python==4.8.0.76
pytube==15.0.0
youtube-transcript-api==0.6.2
urllib3==2.0.7
together==1.2.1
