.discover-sidebar-component{
  width:200px;
  height:95vh;
  border:1px solid black;
  border-radius:20px;
  margin:10px 0px 10px 10px;
}
.discover-right{
    display:flex;
    width:60%;
}
.discover-right-main{
    width:100%;
    margin:10px 20px 10px 20px;
}
.Discover{
    padding:10px 0px 0px 0px;
    background-color:#F5F5FD;
    display:flex;
}