/* StatsGraph.css */
.stats-card {
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .stats-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }

  .stats-icon {
    margin-right: 8px;
    font-size: 20px;
  }
  
  .stats-subtitle {
    color: #696969;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .stats-footer {
    color: #000;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  span{
    color: #1A1A1A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }